<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mgalgs.wikipaper"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-feature android:name="android.software.live_wallpaper"></uses-feature>
<uses-sdk android:minSdkVersion="7"></uses-sdk>


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <service
            android:permission="android.permission.BIND_WALLPAPER"
            android:name="WikiPaper" android:label="WikiPaper">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/wikipaper"></meta-data>
        </service>

    </application>
</manifest>